/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: $font-default;
  color: $default;
}

a {
  text-decoration: none;
  color: $links;
}

a:hover  {
  color: $links-hover;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: $font-primary;
}
