/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  padding: 20px 0;
  z-index: 10;
  position: relative;

  .logo {

    h1 {
      font-size: 36px;
      margin: 0;
      padding: 0;
      line-height: 1;
      font-weight: 300;
      letter-spacing: 3px;
    }

    h1 a, h1 a:hover {
      color: $white;
      text-decoration: none;
    }

    img {
      padding: 0;
      margin: 0;
      max-height: 40px;
    }
  }

  @media (max-width: 768px) {
    .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  }
}
